/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 4, 2020, 11:01:20 AM
    Author     : SANGWA
*/


@import "../../styles/mixins/mixins.scss";


[class*="col_"], [class*="row"]{
    display: grid;
} 
.row{
    width: 100%;
    grid-template-columns: repeat(12,1fr);
}
.row_15{
    width: 100%;
    grid-template-columns: repeat(15,1fr);
}
////////////////////*Small devices///////////////////////
//                                                     //
//                Small devices                        // 
//                                                     // 
///////////////////////////////////////////////////////*/
.col_sm_1{    @include sml_device{ grid-column: span 1}}
.col_sm_2{    @include sml_device{grid-column: span 2}}
.col_sm_3{    @include sml_device{grid-column: span 3}}
.col_sm_4{    @include sml_device{grid-column: span 4}}
.col_sm_5{    @include sml_device{grid-column: span 5}}
.col_sm_6{    @include sml_device{grid-column: span 6}}
.col_sm_7{    @include sml_device{grid-column: span 7}}
.col_sm_8{    @include sml_device{grid-column: span 8}}
.col_sm_9{    @include sml_device{grid-column: span 9}}
.col_sm_10{    @include sml_device{grid-column: span 10}}
.col_sm_11{    @include sml_device{grid-column: span 11}}
.col_sm_12{    @include sml_device{grid-column: span 12}}
.col_sm_13{    @include sml_device{grid-column: span 13}}
.col_sm_14{    @include sml_device{grid-column: span 14}}
.col_sm_15{    @include sml_device{grid-column: span 15}}

////////////////////*Medium evices///////////////////////
//                                                     //
//                Medium devices                       // 
//                                                     // 
///////////////////////////////////////////////////////*/


.col_md_1{    @include medium_device{ grid-column: span 1}}
.col_md_2{    @include medium_device{grid-column: span 2}}
.col_md_3{    @include medium_device{grid-column: span 3}}
.col_md_4{    @include medium_device{grid-column: span 4}}
.col_md_5{    @include medium_device{grid-column: span 5}}
.col_md_6{    @include medium_device{grid-column: span 6}}
.col_md_7{    @include medium_device{grid-column: span 7}}
.col_md_8{    @include medium_device{grid-column: span 8}}
.col_md_9{    @include medium_device{grid-column: span 9}}
.col_md_10{    @include medium_device{grid-column: span 10}}
.col_md_11{    @include medium_device{grid-column: span 11}}
.col_md_12{    @include medium_device{grid-column: span 12}}
.col_md_13{    @include medium_device{grid-column: span 13}}
.col_md_14{    @include medium_device{grid-column: span 14}}
.col_md_15{    @include medium_device{grid-column: span 15}}
////////////////////*Large  devices///////////////////////
//                                                     //
//                Large  devices                       // 
//                                                     // 
///////////////////////////////////////////////////////*/

.col_lg_1{    @include bigger_devices{ grid-column: span 1}}
.col_lg_2{    @include bigger_devices{grid-column: span 2}}
.col_lg_3{    @include bigger_devices{grid-column: span 3}}
.col_lg_4{    @include bigger_devices{grid-column: span 4}}
.col_lg_5{    @include bigger_devices{grid-column: span 5}}
.col_lg_6{    @include bigger_devices{grid-column: span 6}}
.col_lg_7{    @include bigger_devices{grid-column: span 7}}
.col_lg_8{    @include bigger_devices{grid-column: span 8}}
.col_lg_9{    @include bigger_devices{grid-column: span 9}}
.col_lg_10{    @include bigger_devices{grid-column: span 10}}
.col_lg_11{    @include bigger_devices{grid-column: span 11}}
.col_lg_12{    @include bigger_devices{grid-column: span 12}}
.col_lg_13{    @include bigger_devices{grid-column: span 13}}
.col_lg_14{    @include bigger_devices{grid-column: span 14}}
.col_lg_15{    @include bigger_devices{grid-column: span 15}}
 
.sm_just_right{ @include  sml_device{grid-column: 12/13}}
.md_just_right{ @include  medium_device{grid-column: 12/13}}
.md._just_right{@include  bigger_devices{grid-column: 12/13}}

.sm_just_top{ @include  sml_device{grid-row: 1/3}}
.md_just_top{ @include  medium_device{grid-row: 1/3}}
.md._just_top{@include  bigger_devices{grid-row: 1/3}}
